@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 33 100% 91.3725%;
    --foreground: 222 80.3279% 35.8824%;

    --card: 0 0% 89.4118%;
    --card-foreground: 239 58.5062% 47.2549%;

    --popover: 27 35% 93%;
    --popover-foreground: 27 67% 20%;

    --primary: 32 94.6188% 43.7255%;
    --primary-foreground: 27 35% 93%;

    --secondary: 207 35% 91%;
    --secondary-foreground: 233 60.6557% 35.8824%;

    --muted: 207 25% 91%;
    --muted-foreground: 27 27% 37%;

    --accent: 57 54% 91%;
    --accent-foreground: 29 81.1966% 45.8824%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 207 15% 91%;
    --input: 207 15% 91%;
    --ring: 27 67% 10%;

    --radius: 1.125rem;

    --sidebar-background: 27 35% 93%;

    --sidebar-foreground: 27 67% 25%;

    --sidebar-primary: 27 67% 10%;

    --sidebar-primary-foreground: 27 35% 93%;

    --sidebar-accent: 207 35% 91%;

    --sidebar-accent-foreground: 27 67% 20%;

    --sidebar-border: 207 15% 91%;

    --sidebar-ring: 207 5% 75%;

    --chart-1: 27 58% 39%;

    --chart-2: 57 76% 61%;

    --chart-3: 87 37% 24%;

    --chart-4: 117 74% 66%;

    --chart-5: 147 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --font-serif: "Libre Caslon Text", ui-serif, Georgia, Cambria, Times New Roman, Times, serif;

    --font-mono: "Cascadia Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 3px 10.5px -2px hsla(0, 0%, 0%, 0.41);

    --shadow: 0px 3px 21px -2px hsla(0, 0%, 0%, 0.41);

    --shadow-md: 0px 3px 31.5px -2px hsla(0, 0%, 0%, 0.41);

    --shadow-lg: 0px 3px 52.5px -2px hsla(0, 0%, 0%, 0.41);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 27 7% 11%;
    --foreground: 27 47% 70%;

    --card: 27 7% 8%;
    --card-foreground: 27 47% 70%;

    --popover: 27 7% 11%;
    --popover-foreground: 27 47% 70%;

    --primary: 27 47% 88%;
    --primary-foreground: 27 7% 11%;

    --secondary: 207 5% 12%;
    --secondary-foreground: 27 47% 70%;

    --muted: 207 0% 12%;
    --muted-foreground: 207 5% 75%;

    --accent: 57 14% 19%;
    --accent-foreground: 57 54% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 207 0% 12%;
    --input: 207 1% 25%;
    --ring: 207 5% 83%;
    --sidebar-background: 27 7% 11%;
    --sidebar-foreground: 207 35% 95%;
    --sidebar-primary: 57 54% 55%;
    --sidebar-primary-foreground: 27 47% 70%;
    --sidebar-accent: 207 0% 12%;
    --sidebar-accent-foreground: 207 35% 95%;
    --sidebar-border: 207 0% 12%;
    --sidebar-ring: 207 5% 83%;
    --chart-1: 27 70% 50%;
    --chart-2: 147 75% 55%;
    --chart-3: 57 80% 55%;
    --chart-4: 307 65% 60%;
    --chart-5: 187 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}